body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px 22%;
    margin-top: 40px;
    background-color: #DCDCDC;
    color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .name {
    font-size: 28px;
    font-weight: 510;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    font-weight: 400;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #007BFF;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 100px 22%;
    background-color: #DCDCDC;
    height: 900px;
}

.left {
    max-width: 38%;
}

.left h1 {
    font-size: 100px;
    font-weight: 510;
    color: #000000;
    margin-bottom: 60px;
}

.left p {
    font-size: 28px;
    color: #000000;
    margin: 10px 0 0;
    margin-bottom: 30px;
}

.button-container {
    margin-top: 20px;
 }

.button-container button {
    padding: 20px;
    font-size: 24px;
    height: 70px;
    width: 300px;
    align-items: center;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-container button:hover {
    background-color: #000000;
    color: #DCDCDC;
}
.right img {
    width: auto;
    height: 1103px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #ddd;
    height: 100px;
}
